.container-mobile {
  width: 414px;
  background-color: #1e1e26;
  color: white;
  text-align: center;
  margin: auto;
  min-height: 100vh;
  padding: 0px 0px;
}

body {
  margin: 0px;
  background-color: black;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: lighter;
}

.logo_nextfocus {
  padding-top: 20px;
  padding-bottom: 20px;
  width:160;
  height: auto;
  }

.hamburger {
  padding-left: 5px;
  width: 20px;
  height: auto;
  }

.div-hamburger {
  position: absolute;
  top: 28px;
  left: 400px;
  width: 100px;
  }

.avatar {
  padding-left: 5px;
  width: 20px;
  height: auto;
  }

.div-person {
  position: absolute;
  top: 28px;
  left: 773px;
  width: 100px;
  }

h4 {
  text-align: center;
  font-weight: lighter;
  margin-top: -8px;
  margin-bottom: 8px;
  margin-left: -20px;
  }

.arrow {
  padding-left: 5px;
  width: 15px;
  height: auto;
  }

.div-arrow{
  position: absolute;
  top: 60px;
  left: 610px;
  width: 100px;
  }
#map {
  background-image: url(img/map.png);
  background-size: cover;
  background-position: center;
}
